<header>
    <div id="logo-nav">
        <img class="img-logo" src="/img/logo.png" alt="Logo Burga 334">
        <p class="p-logo">Dashboard Burga 334</p>
    </div>

    <!-- Aca se linkean las rutas que apuntan a cada plantilla EJS -->
    <ul id="listado-nav">
        <a href="/dashboard">
            <li class="links-header"><span>Inicio</span></li>
        </a>
        
        <a href="/dashboard/consultar">
            <li class="links-header"><span>Consultar</span></li>
        </a>
        <a href="/dashboard/crear">
            <li class="links-header"><span>Crear</span></li>
        </a>
        
        <a href="/dashboard/modificar">
            <li class="links-header"><span>Modificar</span></li>
        </a>
        <a href="/dashboard/eliminar">
            <li class="links-header"><span>Eliminar</span></li>
        </a>
    </ul>
</header>