/* /////////////
    Estilos globales
///////////// */
h1 {
    text-align: center;
}

.titulo {
    text-align: center;
}


/* /////////////
    Header
///////////// */

#listado-nav {
    display: flex;
    justify-content: space-around;
}

#listado-nav li {
    list-style-type: none;
}


/* /////////////
    index
///////////// */
.li-listados {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-right: 10px;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.productos-listados {
    justify-content: space-between;
}

.img-listados {
    width: 65px;
}

#producto-encontrado {
    border-top: 2px solid;
    border-radius: 0px;
}


/* ===============================
        LISTADOS DINAMICOS
================================== */

.li-listados_boton {
    width: 25%;
}

.li-listados_datos p, .listados_boton {
    margin: 0 !important;
}

.li-listados_datos {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}


#updateForm-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}